*{
    margin: 0px 0px 0px 0px;
}
.board{
margin: 50px;
    width: 800px;
    height: 800px;
    border: 10px solid grey;
    overflow: fragments;
    margin-top: 1px;
}
.Form-1{
    margin-top: 90px;
font-size: 90px;
    float: left;
}
.Form-2 li{
    font-size:90px;
    display:inline;
    padding: 19px;
}
.squer{
    float: left;
    width: 100px;
    height: 100px;
}
.black{
    background-color: grey;
    block-size: border-box;
}
.white{
    background-color: white;
    block-size: border-box;
}
img{
    height: 100px;
}
